.product-main {
  padding: 64px 0;
}

.product-main__category{
  margin-bottom: 48px;
  width: 270px;
}

.product-main__heading{
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: $color-primary;
}
